.messageScreen{
    color:purple;
    h1{
        font-size:40px;
        line-height:1.3em;
        text-align:center;
    }
    .buttonContainer{
        display:flex;
        justify-content:center;
    }
}