.messageScreen {
  color: purple;
  padding-bottom: 40px;

  h1 {
    font-size: 30px;
    line-height: 1.3em;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}

.timer {
  color: purple;
  text-align: center;
  font-size: 30px;
}
