/* Import fonts*/
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap');

.mainContainer {
  width:90%;
  margin: 0 auto;
  border:3px solid black;
  position:relative;
  min-height:200px;
}
.cardsContainer {
  width:90%;
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.unClickable{
  pointer-events:none;
}

button{
  border:3px solid #708999;
  color:#708999;
  font-family: 'Archivo', sans-serif;
  font-size:16px;
  line-height:16px;
  padding:8px;
  text-transform:uppercase;
  text-align:center;
}

.resetButton{
  position:absolute;
  bottom:0px; 
  right:0px;
}